.assignment0{
    background-image:linear-gradient(to right, rgba(184, 223, 248, 0.776),rgba(235, 246, 248, 0.818));
}
.assignment1{
    background-image:linear-gradient(to right,   rgb(220, 181, 242),rgba(235, 246, 248, 0.818));
  

}
.assignment2{
    background-image:linear-gradient(to right,  rgba(247, 164, 222, 0.789),rgba(235, 246, 248, 0.818));
}
.assignment3{
    background-image:linear-gradient(to right,    rgba(188, 242, 177, 0.719),rgba(235, 246, 248, 0.818));

}
.assignment4{
    background-image:linear-gradient(to right,  rgba(238, 237, 174, 0.785),rgba(235, 246, 248, 0.818));
   
}
.assignment5{
    background-image:linear-gradient(to right,  rgba(180, 241, 148, 0.698),rgba(235, 246, 248, 0.818));

}
.assignment6{
    background-image:linear-gradient(to right, rgba(238, 158, 165, 0.776),rgba(235, 246, 248, 0.818));
   
}